{% extends "layout.html" %}

{% block title %}
    Profile
{% endblock %}

{% block style %}<link rel="stylesheet" href="/static/profile.css"> {% endblock %}

{% block navbar %}
    <nav class="navbar fixed-top">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-start" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel"><a class="navbar-brand" href="{% if is_logged_in %}{{ url_for('home') }}{% else %}{{ url_for('index')}}{% endif %}">
                        <img src="/static/brain.svg" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
                        WisdomPost</a>
                    </h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item {{ 'active' if request.path == url_for('home') else '' }}">
                            <a class="nav-link" aria-current="page" href="{{ url_for('home') }}">Home</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item {{ 'active' if request.path == url_for('profile') else '' }}">
                            <a class="nav-link" aria-current="page" href="{{ url_for('profile') }}">Profile</a>
                        </li>
                        <li class="nav-item {{ 'active' if request.path == url_for('logout') else '' }}">
                            <a class="nav-link" aria-current="page" href="{{ url_for('logout') }}">Log Out</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
{% endblock %}
    
{% block main %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {

            $('#editButton').click(function() {
                var inputElements = document.querySelectorAll('.form-control'); //Variable for storing all the input elements having 'form-control' bootstrap class.
                for(var i = 0; i < inputElements.length; i++) { //For loop to enable all the inputs.
                    inputElements[i].disabled = false;
                }
                $('#submitButton').css("display", "block");
                $('#cancelEdit').css('display', 'block');
                $('#editButton').css('display', "none");
                $('#deleteButton').css('display', "none");
            });

            $('#profileForm').submit(function(event) {
                event.preventDefault();

                var formData = {
                    username: $('#username').val(),
                    email: $('#email').val(),
                    firstName: $('#firstName').val(),
                    lastName: $('#lastName').val(),
                    bio: $('#bio').val(),
                    avatar: $('#avatar').val()
                };

                $.ajax({
                    type: 'POST',
                    url: '/profile',
                    data: JSON.stringify(formData),
                    contentType: 'application/json;charset=UTF-8',
                    success: function(response) {
                        if (response.success === true) {
                            window.location.href = response.redirect_url;
                        } else {
                            $('#editError').text(response.error);
                        }
                    },
                    error: function() {
                        $('#editError').text('An error occured.');
                    }
                });
            });

            $('#cancelEdit').click(function() {
                $('#submitButton').css("display", "none");
                $('#cancelEdit').css("display", "none");
                $('#editButton').css("display", "block");
                $('#deleteButton').css("display", "block");
            });

            $('#accountDeleteForm').submit(function(event) {
                event.preventDefault();
                var enteredUsername = $('#usernameInput').val();
                var username = $('#username').val();
                var boolResponse = true;
                if (enteredUsername !== username) {
                    //$('#deleteError').text("Username you entered doesn't match your username.");
                    alert("Username you entered doesn't match your username.");
                    boolResponse = false;
                } else {
                    $.ajax({
                        type: 'POST',
                        url: '/profile/delete',
                        data: JSON.stringify({booleanValue: boolResponse}),
                        contentType: 'application/json',
                        success: function(response) {
                            window.location.href = response.redirect_url;
                            alert("Account successfully deleted, hope to see you again!");
                        },
                        error: function() {
                            $('#deleteError').text("An error occured.");
                        }
                    });
                }
            });

            
            $('.post').click(function() {
                var id = $(this).attr('id').split('-')[1];
                window.location.href = '/post/' + id;
            });

            var postId = 0;
            $('.deletePostButton').click(function() {
                postId = $(this).parent().children(':first').attr('id').split('-')[1];
            });

            
            $('#postDeleteForm').submit(function(event) {
                event.preventDefault();
                var boolResponse = true;
            
                $.ajax({
                    type: 'POST',
                    url: '/profile/post-delete',
                    data: JSON.stringify({booleanValue: boolResponse, postId: postId}),
                    contentType: 'application/json',
                    success: function() {
                        $('#post-' + postId).fadeOut();
                        alert("Post successfully deleted.");
                        window.location.reload();
                    },
                    error: function() {
                        $('#postDeleteError').text("An error occured.");
                    }
                });
            }); 
        });
    </script>
    <div class="userInfo">
        <form action="/profile" method="post" id="profileForm">
            <div class="row mb-3">
                <label class="form-label" for="avatar">Avatar by <a href="https://en.gravatar.com">Gravatar</a></label>
                <div class="col-lg-10">
                    <img src="{{ user.avatar }}" alt="avatar">
                </div>
            </div>
            <div class="row mb-3">
                <label for="username" class="form-label">Username:</label>
                <div class="col-lg-10">
                    <input id="username" name="username" type="text" class="form-control" disabled value="{{ user.username }}"></input>
                </div>
            </div>
            
            <div class="row mb-3">
                <label for="email" class="form-label">E-mail:</label>
                <div class="col-lg-10">
                    <input id="email" name="email" type="email" class="form-control" disabled value="{{ user.email }}"></input>
                </div>
            </div>
            
            <div class="row mb-3">
                <label for="firstName" class="form-label">First Name:</label>
                <div class="col-lg-10">
                    <input id="firstName" name="firstName" type="text" class="form-control" disabled value="{{ user.first_name }}"></input>
                </div>
            </div>
            
            <div class="row mb-3">
                <label for="lastName" class="form-label">Last Name:</label>
                <div class="col-lg-10">
                    <input id="lastName" name="lastName" type="text" class="form-control" disabled value="{{ user.last_name }}"></input>
                </div>
            </div>
            
            <div class="column mb-3">
                <label for="bio" class="form-label">Biography:</label>
                <div class="col-lg-10">
                    <textarea id="bio" name="bio" type="text" class="form-control" rows="5" cols="40" maxlength="300" disabled style="resize: none;">{{ user.bio }}</textarea>
                </div>
            </div>
            
            
            <div class="buttons">
                <button id="editButton" type="button" class="btn btn-primary btn-sm" placeholder="Edit">Edit</button>
                <button id="deleteButton" type="button" class="btn btn-primary btn-sm" placeholder="Delete" data-bs-toggle="modal" data-bs-target="#overlayAccountDelete">Delete Account</button>
                <button id="submitButton" type="submit" class="btn btn-primary btn-sm" placeholder="Submit" style="display: none;">Submit</button>
                <button id="cancelEdit" type="button" class="btn btn-primary btn-sm" placeholder="Submit" style="display: none;">Cancel</button>
            </div>

            <p id="editError"></p>
        </form>


        <!-- Modal -->
        <div class="modal fade" id="overlayAccountDelete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Account Deletion</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Enter your username to delete your account.</p>
                    <p id="deleteError"></p>
                </div>
                <div class="modal-footer">
                    <form id="accountDeleteForm" action="/profile/delete" method="post">
                        <input type="text" id="usernameInput" name="usernameInput">
                        <button type="button" id="cancelAccountDeleteButton" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button class="btn btn-primary" type="submit" class="btn">Delete</button>
                    </form>
                </div>
            </div>
            </div>
        </div>
    </div>

    <div class="userPosts">
        {% if posts | length > 0 %}
            {% for post in posts %}
                <div class="post-container">
                    <div id="post-{{post.id}}" class="post">
                        <p>{{post.title | truncate(50)}} - {{post.publication_date.strftime("%d/%m/%Y")}} {{post.publication_time}}</p>
                    </div>
                    <div class="deletePostButton" name="deletePostButton" data-bs-toggle="modal" data-bs-target="#postDeleteModal"><img src="/static/delete.svg" alt="delete"></div>
                </div>
            {% endfor %}
        {% else %}
                <p>You have no posts.</p>
        {% endif %}

        <div class="modal fade" id="postDeleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Post Delete</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete this post?</p>
                    <p id="postDeleteError"></p>
                </div>
                <div class="modal-footer">
                    <form id="postDeleteForm" action="/profile/post-delete" method="post">
                        <button class="btn btn-primary" id="yes" name="yes" type="submit">Yes</button>
                        <button class="btn btn-secondary" id="cancel" name="cancel" type="button" data-bs-dismiss="modal">Cancel</button>
                    </form>
                </div>
            </div>
            </div>
        </div>
    </div>
        
{% endblock %}